/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

/* Spinner start*/

.ball1, .ball2, .ball3 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: left;
    margin: 0 3px;
}

.ball1 {
    background-color: #62abc1;
    -webkit-animation: single1ball1anim 2s infinite linear;
    animation: single1ball1anim 2s infinite linear;
}

@-webkit-keyframes single1ball1anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    12.5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.5);
    }
    25%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes single1ball1anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    12.5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.5);
    }
    25%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.ball2 {
    background-color: #468295;
    -webkit-animation: single1ball2anim 2s infinite linear;
    animation: single1ball2anim 2s infinite linear;
}

@-webkit-keyframes single1ball2anim {
    0%, 25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    37.5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.5)
    }
    50%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes single1ball2anim {
    0%, 25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    37.5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.5)
    }
    50%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.ball3 {
    background-color: #34616f;
    -webkit-animation: single1ball3anim 2s infinite linear;
    animation: single1ball3anim 2s infinite linear;
}

@-webkit-keyframes single1ball3anim {
    0%, 50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    62.5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.5)
    }
    75%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes single1ball3anim {
    0%, 50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    62.5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.5)
    }
    75%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* Spinner end*/